<!-- templates/add.html -->

<div style="text-align: center; padding-top: 30px">
	<h1>Add search key</h1>
	<p>{{caption}}</p>
	<form method="get">
		<table>
			<tbody>
				<tr><td>key   </td><td><input type="text" name="key" value="{{key}}"></td></tr>
				<tr><td>url   </td><td><input type="text" name="url" value="{{url}}"></td></tr>
				<tr><td>search</td><td><input type="text" name="search" value="{{search}}"></td></tr>
				<tr></tr>
			</tbody>
		</table>
		<input type="hidden" name="force" value="{{force}}">
		<button type="submit" title="Search">{{button}}</button>
	</form>
</div>