{% import "utils/forms.html" as forms %}
<head>
	<title>edit {{label.name}}</title>
	{{ forms.tagify_head() }}
</head>
<body>
	<h1>edit #{{ label.name }}</h1>
		<table>
			<tbody>
				<tr>
					<form method="POST">
						<input type="hidden" name="action" value="set_name">
						<td>name</td>
						<td><input type="text" name="name" value="{{ label.name }}"></td>
						<td><button type="submit">safe</button></td>
					</form>
				</tr>
				<tr>
					<td>labels</td>
					<td> {{ forms.labels_field(label) }}
				</tr>
				<tr>
					<form method="POST">
						<input type="hidden" name="action" value="delete">
						<td><button type="submit">delete</button></td>
					</form>
				</tr>
			</tbody>
		</table>
</body>