<div>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="flashes">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}    
</div>
<h3>Create a new blog</h3>
<form method="get">
	<table>
		<tbody>
			<tr>
				<td>Name:</td>
				<td><input type="text" name="id"></td>
			</tr>
		</tbody>
	</table>
	<button type="submit">Create</button>
</form>
<h3>View or edit an existing blog</h3>
<ul>
{% for id in blogs %}
    <li><a href="/blog/view?id={{ id }}">{{ id }}</a></li>
{% endfor %}
</ul>